<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>

		<!-- Styles -->
		<link rel="stylesheet" href="assets/styles/main.css">
		
		
		<!-- Google fonts -->
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

		<!-- Vue.js -->
		<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
	</head>
	<body class="body">
		<div id="app">
			<header class="header">
				<h1 class="header__title">Список студентов</h1>
				<p class="header__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores impedit expedita atque labore ratione repudiandae exercitationem voluptatem perspiciatis enim aperiam facilis eius alias aliquam, debitis sunt eos perferendis! Veniam, fugit?</p>
			</header>
		
			<form action="#" class="form">
				<h2 class="form__title">Форма</h2>

				<label class="form__label">
					<div class="form__input-title">Фамилия</div>

					<input
						v-model="surnameInput" 
						type="text" 
						class="form__input"
					>
				</label>

				<label class="form__label">
					<div class="form__input-title">Имя</div>

					<input
						v-model="firstnameInput" 
						type="text" 
						class="form__input"
					>
				</label>

				<div class="form__count">Количество символов: 123</div>

				<input
					v-on:click="addStudents($event)"
					type="submit"
					value="Записать"
					class="form__submit"
				>
			</form>

			<ol class="list" v-if="students.length">
				<li 
					v-for="student in students" 
					:key="student.idLast"
					class="list__item"
				>
					{{ `${student.surname} ${student.firstname}` }}
				</li>
			</ol>

			<span v-else class="form__empty">Список пуст</span>
		</div>


		<script>
			const vm = new Vue({
				el: '#app',
				data: {
					students: [

					],

					idLast: 0,

					surnameInput: '',
					firstnameInput: '',
				},
				methods: {
					addStudents(e) {
						e.preventDefault();
						
						this.idLast += 1;

						this.students.push({
							firstname: this.firstnameInput,
							surname: this.surnameInput,
							id: this.idLast
						});

						this.clearForm();				
					},

					clearForm() {
						this.surnameInput = '';
						this.firstnameInput = '';
					}
				}
			})
		</script>
	</body>
</html>
