@font-face {
	font-family: 'Raleway';  
	src: url('../fonts/Raleway/Raleway-Medium.ttf'); 
	font-style: normal; 
	font-weight: 500; 
}

@font-face {
	font-family: 'Raleway';  
	src: url('../fonts/Raleway/Raleway-Bold.ttf'); 
	font-style: normal; 
	font-weight: 700; 
}

@font-face {
	font-family: 'Roboto';  
	src: url('../fonts/Roboto/Roboto-Medium.ttf'); 
	font-style: normal; 
	font-weight: 500; 
}

@font-face {
	font-family: 'Roboto';  
	src: url('../fonts/Roboto/Roboto-Regular.ttf'); 
	font-style: normal; 
	font-weight: 400; 
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	background: url(../images/footer-bg.png) no-repeat bottom center;
}

a {
	text-decoration: none;
	color: inherit;
}

/* components */

.container {
	max-width: 1640px;
	margin: 0 auto;
}


/* /components */

.header {
	font-family: 'Raleway';  
	font-weight: 500;
	color: #4a4a4a;
	font-size: 0;
}

.header__logo {
	display: inline-block;
}

.header__logo-img {
	width: 108px;
	height: 37px;
}

.nav {
	display: inline-block;

	margin-top: 60px;
	font-size: 23px;
}

.nav__item {
	margin-left: 70px;
	position: relative;
}

.nav__item:before {
	content: '';
	position: absolute;
	top: calc(100% + 3px);
	left: 0;
	width: 100%;
	height: 2px;
	background-color: #4a4a4a;
	opacity: 0;
	transition: all .5s ease;
}

.nav__item:hover:before {
	opacity: 1;
}

.nav__item-retail {
	margin-left: 68px;
}

.nav_right {
	float: right;
	margin-top: 68px;

	vertical-align: bottom;

	line-height: 17px;

	font-size: 23px;
}

.nav_right__item_login {
	margin-right: 48px;
}

.nav_right__item_demo {
	margin-right: 21px;
}

.nav_right__item_getstart {
	padding: 8px 23px;
	border-radius: 8px;
	color: #fff;
	font-size: 23px;
	clear: both;
	background-color: #4c56c0;
	transition: all .5s ease;
}

.nav_right__item_getstart:hover {
	background-color: #fcc242;
}

.tagline {
	padding-top: 126px;

	font-family: 'Raleway';
	color: #4a4a4a;
}

.tagline__title {
	font-weight: 700;
	font-size: 77px;
	line-height: 1.2em;

	width: 1000px;
}

.tagline__title_sub {
	font-weight: 500;
	font-size: 34px;
	margin-top: 45px;

	width: 1050px;
}

.tagline__workplace-bg {
	background: url('../images/workplace_1.png');

	margin-top: 95px;

	width: 1532px;
	height: 988px;
}

.cards {
	padding-top: 163px;
	font-size: 0;
}

.card {
	width: 755px;
	padding: 65px 55px 100px 55px;
	font-family: 'Raleway', sans-serif;
	color: #fff;
	display: inline-block;
}

.card_yellow {
	background: url(../images/card__bg-1.png) no-repeat right bottom #fcc242;
}

.card_blue {
	background: url(../images/card__bg-2.png) no-repeat right bottom #4c56c0;
	margin-left: 125px;
}

.card__title {
	font-weight: 700;
	font-size: 56px;
}

.card__text {
	font-weight: 500;
	font-size: 28px;
	line-height: 52px;
	margin-top: 40px;
}

.card__list {
	list-style-type: none;
	margin-top: 60px;
}

.card__list-item {
	font-size: 26px;
	font-weight: 500;
	position: relative;
	margin-left: 20px;
}

.card__list-item:not(:first-child) {
	margin-top: 60px;
}

.card__list-item:before {
	content: '';
	width: 10px;
	height: 9px;
	background: url(../images/card__list-item_marker.png) no-repeat 50% 50%;
	position: absolute;
	top: 50%;
	right: calc(100% + 8px);
	transform: translateY(-50%);
}

.card__container-btn {
	margin-top: 120px;
}

.card__btn {
	padding: 10px 28px;
	border-radius: 8px;
	color: #fff;
	font-size: 26px;
	clear: both;
	transition: all .5s ease;
}

.card__btn_blue {
	background-color: hsl(235, 48%, 53%);
}

.card__btn_blue:hover {
	background-color: hsl(235, 48%, 63%);
}

.card__btn_yellow {
	background-color: hsl(41, 97%, 62%);
}

.card__btn_yellow:hover {
	background-color: hsl(41, 97%, 52%);
}


.startup {
	font-family: 'Raleway', sans-serif;
	margin-top: 232px;
	position: relative;
}

.startup__container-info {
	display: inline-block;
	margin-left: 130px;
	padding-right: 35px;
	width: calc(100% - 1090px - 130px )
}

.startup__title {
	font-size: 48px;
	font-weight: 700;
	margin-top: 180px;
	color: #4a4a4a;
}

.startup__text {
	font-size: 34px;
	color: #4a4a4a;
	margin-top: 48px;
}

.startup__img {
	width: 1090px;
	height: 784px;
	background: url(../images/startup__img.png);
	position: absolute;
	top: 0;
	right: 0;
}

.startup__container {
	font-size: 0;
}

.startup__container-app {
	width: 215px;
	height: 65px;
	overflow: hidden;
	display: inline-block;
	position: relative;
	margin-top: 80px;
}

.startup__app-img {
	position: absolute;
	overflow: hidden;
}

.startup__container-app_google {
	margin-left: 13px;
}
.startup__container-app_apple {
	margin-left: 38px;
}

.startup__app-img_google {
    left: -38px;
	top: -20px;
}

.startup__app-img_apple {
	left: -38px;
	top: -89px;
}

.extend {
	margin-top: 350px;
	background: url(../images/extend.png) no-repeat 0 0;
	font-family: 'Raleway';
	padding-top: 290px;
	position: relative;
}

.extend:before {
	position: absolute;
	width: 90%;
	height: 700px;
	background: #000;
	top: 50px;
	left: 5%;
	content: '';
	z-index: 1;
	opacity: .35;
	border-radius: 100%;
	filter: blur(10px);
}

.extend__card {
	background-color: #4c56c0;
	color: #fff;
	width: 690px;
	margin-left: 45px;
	padding: 80px 0px 130px 45px;
	position: relative;
	z-index: 2;
}

.extend__card-title {
	font-size: 93px;
	font-weight: 700;
}

.extend__card-text {
	font-size: 42px;
	font-weight: 500;
	margin-top: 40px;
}

.extend__card-btn {
	margin-top: 75px;
	padding: 12px 43px;
	border-radius: 8px;
	color: #fff;
	font-size: 26px;
	background-color: hsl(41, 97%, 62%);
	display: inline-block;
	transition: all .5s ease;
}

.extend__card-btn:hover {
	background-color: hsl(41, 97%, 52%);
}

.brands {
	margin-top: 100px;
}

.brands__container {
	margin-left: 200px;
}

.brands__brand {
	margin-right: 30px;
}

.brands__brand_disney {
	width: 200px;
}

.brands__brand_boss {
	position: relative;
	bottom: 30px;
	width: 100px;
	margin-right: 100px;
}

.brands__brand_celine {
	position: relative;
	bottom: 37px;
	right: 4px;
	width: 200px;
	margin-right: 110px;
}

.brands__brand_yt {
	position: relative;
	bottom: 34px;
	right: 22px;
	width: 230px;
}

.brands__brand_vimeo {
	position: relative;
	bottom: 0px;
	width: 200px;
}

.reviews {
	font-family: 'Raleway';
	margin-top: 130px;
}

.reviews__title {
	font-size: 48px;
	font-weight: 700;
	text-align: center;
}

.reviews__sub-title {
	font-size: 34px;
	font-weight: 500;
	margin-top: 64px;
	text-align: center;
}

.reviews__container-card {
	position: relative;
	height: 720px;
}

.reviews__card {
	background-color: #fff;
	color: #aca8af;
	text-align: center;
	border-radius: 10px;
	box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.1);
	position: relative;
	transition: all .3s ease;
}

.reviews__card:hover {
	transform: scale(1.1);
}

.reviews__card-1 {
	font-size: 13px;
	padding: 60px 40px;
	width: 294px;
	position: absolute;
	top: 515px;
	left: 0px;
}

.reviews__card-2 {
	font-size: 18px;
	padding: 70px 45px;
	width: 390px;
	position: absolute;
	top: 110px;
	left: 170px;
}

.reviews__card-3 {
	font-size: 30px;
	padding: 85px 40px 140px 40px;
	width: 580px;
	position: absolute;
	left: 530px;
	top: 170px;
}

.reviews__card-4 {
	font-size: 18px;
	padding: 70px 45px 90px 45px;
	width: 390px;
	position: absolute;
	top: 450px;
	right: 170px;
}

.reviews__card-5 {
	font-size: 13px;
	padding: 50px 35px 70px 35px;
	width: 294px;
	position: absolute;
	top: 115px;
	right: 0px;
}

.reviews__card-img {
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translate(-50%, -50%)
}

.reviews__card:before {
	content: '"';
	position: absolute;
	left: 15px;
	top: 0;
	font-family: 'Roboto';
	font-weight: 500;
	font-size: 188px;
	color: rgba(154, 94, 200, .15);
}

.footer {
	margin-top: 220px;
	color: #fff;
	font-family: 'Roboto';
}

.footer__block {
	display: inline-block;
	vertical-align: top;	
}

.footer__block_small {
	padding-top: 50px;
}

.footer__logo {
	vertical-align: top;
	margin-right: 220px;
}

.footer__block-title {
	font-size: 23px;
	font-weight: 500;
}

.footer__block-line {
	font-size: 23px;
	font-weight: 400;
	display: block;
}

.footer__contacts {
	margin-right: 65px;
}

.footer__company {
	margin-right: 100px;
}

.footer__privacy {
	margin-right: 150px;
}

.footer__contacts > .footer__block-line {
	margin-top: 50px;
}

.footer__company > .footer__block-line, .footer__social > .footer__block-line {
	margin-top: 30px;
}

.footer__privacy > .footer__block-line {
	margin-bottom: 25px;
}

.footer__phone, .footer__adress, .footer__mail {
	margin-right: 15px;
}

.footer__line {
	height: 2px;
	background-color: rgba(255, 255, 255, .1);
	margin-top: 50px;
}

.footer__copyright {
	position: relative;
	margin-top: 45px;
	margin-bottom: 25px;
}

.footer__copyright-icon {
	position: absolute;
	left: 0;
	top: 0;
}

.footer__copyright-text {
	font-size: 14px;
	font-weight: 500;
	margin-left: 20px;
	position: relative;
	top: -5px;
}